.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 400px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 2rem;
}

.display, .complete-operation{
    width: 100%;
    height: 50px;
    color: #444444;
    background-color: #fff;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 24px;
    text-align: right;
        overflow: auto;
}

.complete-operation{
    color: #5e5e5e;
    height: 40px;
}

.ac{
    background-color: #fdd90d;
}

.ac:hover{
    background-color: #ecc70a;
}

.buttons{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap:.1rem;
}


.operation{
    background-color: #fdd90d;
}

.operation:hover{
    background-color: #ecc70a;
}

